<% broadcast "/chats/chat_#{@chat.id}" do %>
	var content = "<%= escape_javascript(render partial: 'message', locals: {message: @message}) %>";
	$("#message_list").append(content);
	$("#message_body").val("");
	$("#message_body").focus();
<% end %>