<p id="notice"><%= notice %></p>

<%= current_user.email %>
<%= link_to 'Logout', destroy_user_session_path, { :class => 'signout', :method => :delete} %>

<h1>Listing Chats</h1>

<table>
  <thead>
    <tr>
      <th>Session name</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.session_name %></td>
        <td><%= chat.ativo %></td>
        <td><%= link_to 'Show', chat %></td>
        <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
        <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat', new_chat_path %>
