<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Phaser - Making your first game, part 1</title>
	<script type="text/javascript" src="js/phaser.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
<p>
  <strong>Session name:</strong>
  <%= @chat.session_name %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @chat.ativo %>
</p>

<h2>Messages</h2>
<div id="message_list">
	<% @chat.messages.each do |mess| %>
		<%= render partial: 'message', locals: {message: mess} %>
	<% end -%>
</div>
<%= form_for @new_message, url: criar_mensagem_chat_path(@chat), remote: true do |f| %>
	From: <%= f.text_field :from %><br/>
	Body: <%= f.text_area :body %><br/>
	<%= f.submit %>
<% end -%>

<button onClick="enviar()">teste enviar</button>
<button onClick="andar()">Pular</button>

<script type="text/javascript">
var faye = null;
function enviar() {
	faye.publish("/chats/chat_<%= @chat.id %>", {'data': 'andar'});
}
function chegou_mensagem(data) {
	eval(data);
}

$(function() {
	faye = connect_to_faye();
	
	 // connect_to_faye() faz isso: new Faye.Client("http://localhost:9292/faye");
	faye.subscribe("/chats/chat_<%= @chat.id %>", chegou_mensagem);
	
});



var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update });

function preload() {
	game.load.image ('sky', "#{asset_url('sky.png')");
	game.load.image ('ground', 'assets/images/platform.png');
	game.load.image ('star', 'assets/images/star.png');
	game.load.spritesheet ('dude', 'assets/images/dude.png', 32, 48);
}

var platforms;
var cursors;
var player;

function create() {
	game.physics.startSystem(Phaser.Physics.ARCADE);
	game.add.sprite(0, 0, 'sky');
	
	platforms = game.add.group();
	platforms.enableBody = true;
	
	var ground = platforms.create(0, game.world.height - 64, 'ground');
	ground.scale.setTo(2, 2);
	ground.body.immovable = true;
	
	var ledge = platforms.create(400, 400, 'ground');
	ledge.body.immovable = true;
	ledge = platforms.create(-150, 250, 'ground');
	ledge.body.immovable = true;
	
	player = game.add.sprite(32, game.world.height - 150, 'dude');
	game.physics.arcade.enable(player);
	player.body.bounce.y = 0.2;
	player.body.gravity.y = 300;
	player.body.collideWorldBounds = true;

	player.animations.add('left', [0, 1, 2, 3], 10, true);
	player.animations.add('right', [5, 6, 7, 8], 10, true);

	cursors = game.input.keyboard.createCursorKeys();

}

function update() {

	game.physics.arcade.collide(player, platforms);

	player.body.velocity.x = 0;

	/*if (cursors.left.isDown) {
        //  Move to the left
        player.body.velocity.x = -150;

        player.animations.play('left');
    }
    else if (cursors.right.isDown) {
        //  Move to the right
        player.body.velocity.x = 150;

        player.animations.play('right');
    }
    else {
        //  Stand still
        player.animations.stop();

        player.frame = 4;
    }*/

	if (cursors.up.isDown && player.body.touching.down) {
		player.body.velocity.y = -350;
	}
}

function andar(){

	player.body.velocity.y = -100;

}

</script>
</html>